<div class="card">
  <div class="card-header">
    <div class="row text-center">
      <div class="col">
        <button class="btn btn-primary" routerLink="/coins">Ver Coins</button>
      </div>
      <div class="col">
        <button class="btn btn-success" routerLink="/portfolio">
          Ver Portfolio
        </button>
      </div>
      <div class="col">
        <button class="btn btn-dark" routerLink="/portfolio-lines">
          Ver Portfolio Lines
        </button>
      </div>
    </div>
  </div>
</div>

<div class="mt-5">
  <router-outlet></router-outlet>
</div>
